{% extends 'base.html.twig' %}

{% block title %}MonsterLab{% endblock %}

{% block body %}
<div class="max-w-4xl mx-auto mb-8">
{# Hat Level #}
    <div class="grid grid-cols-3">
        <div class="col-span-1 content-center justify-items-end">
            <div class="rounded-full bg-white w-12 h-12" style="box-shadow: 0px -8px 0px 0px rgba(0, 0, 0, 0.60) inset, 0px 3px 2.4px 0px rgba(0, 0, 0, 0.60);">
                <svg xmlns="http://www.w3.org/2000/svg" width="45px" height="45px" class="rotate-180" viewBox="0 0 256 512"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path d="M246.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-128-128c-9.2-9.2-22.9-11.9-34.9-6.9s-19.8 16.6-19.8 29.6l0 256c0 12.9 7.8 24.6 19.8 29.6s25.7 2.2 34.9-6.9l128-128z"/></svg>
            </div>
        </div>
        <div class="col-span-1">
            <div class="bg-white/20 mx-4 pt-5 px-5 rounded-2xl">
                <img src="{{asset ('images/hat-1.png')}}"></img>
            </div>
        </div>
        <div class="col-span-1 content-center">
            <div class="rounded-full bg-white w-12 h-12" style="box-shadow: 0px -8px 0px 0px rgba(0, 0, 0, 0.60) inset, 0px 3px 2.4px 0px rgba(0, 0, 0, 0.60);">
                <svg xmlns="http://www.w3.org/2000/svg" width="45px" height="45px" viewBox="0 0 256 512"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path d="M246.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-128-128c-9.2-9.2-22.9-11.9-34.9-6.9s-19.8 16.6-19.8 29.6l0 256c0 12.9 7.8 24.6 19.8 29.6s25.7 2.2 34.9-6.9l128-128z"/></svg>
            </div>
        </div>
    </div>
{# End Hat Level #}

{# Head Level #}
    <div class="grid grid-cols-3 mt-4">
        <div class="col-span-1 content-center justify-items-end">
            <div class="rounded-full bg-white w-12 h-12" style="box-shadow: 0px -8px 0px 0px rgba(0, 0, 0, 0.60) inset, 0px 3px 2.4px 0px rgba(0, 0, 0, 0.60);">
                <svg xmlns="http://www.w3.org/2000/svg" width="45px" height="45px" class="rotate-180" viewBox="0 0 256 512"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path d="M246.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-128-128c-9.2-9.2-22.9-11.9-34.9-6.9s-19.8 16.6-19.8 29.6l0 256c0 12.9 7.8 24.6 19.8 29.6s25.7 2.2 34.9-6.9l128-128z"/></svg>
            </div>
        </div>
        <div class="col-span-1">
            <div class="bg-white/20 mx-4 pt-5 px-5 rounded-2xl">
                <img src="{{asset ('images/head-1.png')}}"></img>
            </div>
        </div>
        <div class="col-span-1 content-center">
            <div class="rounded-full bg-white w-12 h-12" style="box-shadow: 0px -8px 0px 0px rgba(0, 0, 0, 0.60) inset, 0px 3px 2.4px 0px rgba(0, 0, 0, 0.60);">
                <svg xmlns="http://www.w3.org/2000/svg" width="45px" height="45px" viewBox="0 0 256 512"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path d="M246.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-128-128c-9.2-9.2-22.9-11.9-34.9-6.9s-19.8 16.6-19.8 29.6l0 256c0 12.9 7.8 24.6 19.8 29.6s25.7 2.2 34.9-6.9l128-128z"/></svg>
            </div>
        </div>
    </div>
{# End Head Level #}

{# Body Level #}
    <div class="grid grid-cols-3 mt-4">
        <div class="col-span-1 content-center justify-items-end">
            <div class="rounded-full bg-white w-12 h-12" style="box-shadow: 0px -8px 0px 0px rgba(0, 0, 0, 0.60) inset, 0px 3px 2.4px 0px rgba(0, 0, 0, 0.60);">
                <svg xmlns="http://www.w3.org/2000/svg" width="45px" height="45px" class="rotate-180" viewBox="0 0 256 512"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path d="M246.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-128-128c-9.2-9.2-22.9-11.9-34.9-6.9s-19.8 16.6-19.8 29.6l0 256c0 12.9 7.8 24.6 19.8 29.6s25.7 2.2 34.9-6.9l128-128z"/></svg>
            </div>
        </div>
        <div class="col-span-1">
            <div class="bg-white/20 mx-4 pt-5 px-5 rounded-2xl">
                <img src="{{asset ('images/torso-1.png')}}"></img>
            </div>
        </div>
        <div class="col-span-1 content-center">
            <div class="rounded-full bg-white w-12 h-12" style="box-shadow: 0px -8px 0px 0px rgba(0, 0, 0, 0.60) inset, 0px 3px 2.4px 0px rgba(0, 0, 0, 0.60);">
                <svg xmlns="http://www.w3.org/2000/svg" width="45px" height="45px" viewBox="0 0 256 512"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path d="M246.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-128-128c-9.2-9.2-22.9-11.9-34.9-6.9s-19.8 16.6-19.8 29.6l0 256c0 12.9 7.8 24.6 19.8 29.6s25.7 2.2 34.9-6.9l128-128z"/></svg>
            </div>
        </div>
    </div>
{# End Body Level #}

{# Leg Level #}
    <div class="grid grid-cols-3 mt-4">
        <div class="col-span-1 content-center justify-items-end">
            <div class="rounded-full bg-white w-12 h-12" style="box-shadow: 0px -8px 0px 0px rgba(0, 0, 0, 0.60) inset, 0px 3px 2.4px 0px rgba(0, 0, 0, 0.60);">
                <svg xmlns="http://www.w3.org/2000/svg" width="45px" height="45px" class="rotate-180" viewBox="0 0 256 512"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path d="M246.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-128-128c-9.2-9.2-22.9-11.9-34.9-6.9s-19.8 16.6-19.8 29.6l0 256c0 12.9 7.8 24.6 19.8 29.6s25.7 2.2 34.9-6.9l128-128z"/></svg>
            </div>
        </div>
        <div class="col-span-1">
            <div class="bg-white/20 mx-4 pt-5 px-5 rounded-2xl">
                <img src="{{asset ('images/legs-1.png')}}"></img>
            </div>
        </div>
        <div class="col-span-1 content-center">
            <div class="rounded-full bg-white w-12 h-12" style="box-shadow: 0px -8px 0px 0px rgba(0, 0, 0, 0.60) inset, 0px 3px 2.4px 0px rgba(0, 0, 0, 0.60);">
                <svg xmlns="http://www.w3.org/2000/svg" width="45px" height="45px" viewBox="0 0 256 512"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path d="M246.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-128-128c-9.2-9.2-22.9-11.9-34.9-6.9s-19.8 16.6-19.8 29.6l0 256c0 12.9 7.8 24.6 19.8 29.6s25.7 2.2 34.9-6.9l128-128z"/></svg>
            </div>
        </div>
    </div>
{# End Leg Level #}

    <div class="flex justify-center mt-8">
    <a href="#">
        <div class="bg-gradient-to-br from-yellow-300 to-yellow-500 hover:from-yellow-400 hover:to-yellow-600uppercase text-center rounded-2xl border-2 border-black text-2xl font-extrabold py-5 px-6 w-96"
                    style="background: linear-gradient(165deg, #F7E02E -6.06%, #F76E2E 222.12%); box-shadow: 0px -8px 0px 0px rgba(0, 0, 0, 0.60) inset, 0px 3px 2.4px 0px rgba(0, 0, 0, 0.60);"
        >Assemble</div>
    </a>
    </div>
    {# Pretend Modal #}
    <div class="w-[500px] h-[485px] p-5 border border-white" style="border-radius: 20px; background: radial-gradient(64.22% 64.22% at 50% 50%, #0641CD 0%, #210339 100%);">
        <div class="flex justify-end">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
            <rect x="18.2031" width="8.19007" height="25.7402" rx="3" transform="rotate(45 18.2031 0)" fill="white"/>
            <rect width="8.19007" height="25.7402" rx="3" transform="matrix(-0.707107 0.707107 0.707107 0.707107 5.79297 0)" fill="white"/>
            </svg>
        </div>
        <img src="{{asset ('images/full-monster.png')}}" alt="" class="h-2/3 w-auto mx-auto">
        <div class="text-2xl text-white text-center font-extrabold uppercase mt-4 mb-6">It's alive!</div>
        <div class="flex justify-between">
            <a class="rounded-xl w-[190px] text-center lexend font-extrabold py-4 px-3 border-2 border-black bg-white hover:bg-gray-200" style="box-shadow: 0px 3px 2.4px 0px rgba(0, 0, 0, 0.60), 0px -4px 0px 0px rgba(0, 0, 0, 0.60) inset;" href="#">
                <svg class="inline" xmlns="http://www.w3.org/2000/svg" width="26" height="20" viewBox="0 0 26 22" fill="none">
                <path d="M2.47266 11.9019V16.7611C2.47266 18.5503 3.92304 20.0007 5.71218 20.0007H20.2901C22.0792 20.0007 23.5296 18.5503 23.5296 16.7611V11.9019" stroke="#1B0433" stroke-width="3.41703" stroke-linecap="round"/>
                <path d="M12.9001 2V13.4715M12.9001 13.4715L8.14062 8.61789M12.9001 13.4715L17.6595 8.61789" stroke="#1B0433" stroke-width="3.41703" stroke-linecap="round"/>
                </svg>
                Download
            </a>
            <a class="rounded-xl w-[150px] text-center lexend font-extrabold py-4 px-3 border-2 border-black bg-white hover:bg-gray-200" style="box-shadow: 0px 3px 2.4px 0px rgba(0, 0, 0, 0.60), 0px -4px 0px 0px rgba(0, 0, 0, 0.60) inset;" href="#">
                <svg class="inline" xmlns="http://www.w3.org/2000/svg" width="23" height="20" viewBox="0 0 23 22" fill="none">
                <path d="M17.7126 4.58105L5.28906 10.7928L17.7126 18.454" stroke="#1B0433" stroke-width="3.31294" stroke-linecap="round"/>
                <circle cx="17.9186" cy="4.58117" r="4.55529" fill="#1B0433"/>
                <circle cx="17.9186" cy="17.4186" r="4.55529" fill="#1B0433"/>
                <circle cx="5.08263" cy="10.379" r="4.55529" fill="#1B0433"/>
                </svg>
            Share</a>
        </div>
    </div>
    {# End Pretend Modal #}
</div>
{% endblock %}
